.page-categories {
  h5 {
    font-size: 1.5rem;
  }
  li {
    list-style-type: none;
    text-decoration: none;
  }
  .store-categories {
    font-size: 1.125rem;
    text-align: center;
    color: #0c0d36;
    font-weight: normal;
    margin-top: 12px;
    text-decoration: none;

    &:hover {
      color: #29a867;
      border-bottom: 3px solid #29a867;
    }
  }

  .active {
    color: #29a867;
    border-bottom: 3px solid #29a867 !important;
  }
}
