.store-cart {
  h5 {
    color: $textColor;
    font-weight: 600;

    margin-top: 18px;
  }

  .product-title {
    font-size: 1.125rem;
    color: $textColor;

    margin-top: 15px;
  }

  .product-subtitle {
    font-size: 14px;
    color: #979797;
  }

  .table-cart {
    margin: 0 -15px;

    th {
      font-weight: 200;
    }

    .cart-image {
      border-radius: 8px;
      max-height: 85px;
    }

    .btn-outline-success {
      font-size: 24px;

      padding: 0;
      display: inline-block;
      text-align: center;

      border-width: 2px;

      width: 32px;
      height: 36px;
    }

    .btn-cart {
      margin-top: 15px;
    }
  }

  .cart-total {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
    color: #0c0d36;

    margin-top: 15px;
  }
}
